// Colores
$cm-primary-color : #007bff;
$cm-secundary-color:  #fd7e14;
$cm-info-color: #17a2b8;
$cm-body-color: #28292b;
$cm-light-color: #646668;
$cm-dark-color: #1d1d1d;
$cm-muted-color: #a5a5a5;

//Tipografía
$cm-font-title: 'brandon_textbold';
$cm-font-body: 'brandon_text_regularregular';
$cm-font-info: 'brandon_text_regularregular';
$cm-font-link: 'Roboto', serif;;

//Tamaño de tipografía
$cm-eyecatcher-font-size: 44rem;
$cm-in-eyecatcher-font-size: 34rem;
$cm-body-font-size: .9rem;
$cm-small-font-size: .75rem;
